

<div class="hero">
	<br/>
	<div class="frosty col-7 offset-3 text-center">
  		<h1>Welcome to SandhyaRaagam</h1>
  		<br/>
		<h3> Your journey to Carnatic Music begins here...</h3>
		<br />
  		<%= link_to 'Join Us', '#', class: 'btn btn-success' %>
  		<br /><br />
	</div>
</div>